  .jumbotron {
    background-image: url("../images/tennessee_flag.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
  }

.menu{
  text-align: right;
}


  .body_sec {
    text-align: center;
  }